:root {
  --accent-color: #f38181;
  --info-color: #95e1d3;
  --main-color: #b6b6b6;
  --text-color: #333;
}

* {
  color: var(--text-color);
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.logo {
  color: var(--info-color);
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-indent: 300px;
}

.navigation-list {
  list-style-type: none;
  display: flex;
}

.about {
  text-decoration: underline;
  color: var(--accent-color);
}

.navigation-link {
  color: var(--info-color);
  text-decoration: none;
}

.about,
.navigation-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.work-name {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
}

.work-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.work-item {
  width: 480px;
}

.work-item-text {
  color: #fff;
}

.who-name {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
}

.who-title {
  text-align: center;
}

.who-text {
  text-align: center;
}

li:not(.photography1) {
  width: 480px;
}

.who-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.who-item {
  width: 300px;
}

.who-item-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.jwho-item-job-name {
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
}

.footer-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.footer-text-span {
  color: var(--accent-color);
}

.footer-input {
  width: 230px;
  height: 39px;
}

.footer-btn {
  background-color: var(--info-color);
  height: 40px;
  width: 150px;
  font-size: medium;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.work-item-text,
.who-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--main-color);
  font-size: 15px;
}
