:root {
  --accent-color: #f38181;
  --info-color: #95e1d3;
  --main-color: #b6b6b6;
  --text-color: #333;
}

body {
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  font-family: inherit;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

header {
  padding-top: 17px;
  padding-bottom: 68px;
}

.header .header-position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: var(--info-color);
  font-weight: 700;
  font-size: 30px;
  margin-right: auto;
}

.navigation-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-link:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

.navigation-link {
  color: var(--info-color);
  margin-right: 55px;
}

.navigation-link,
.navigation-item {
  font-weight: 400;
  font-size: 14px;
}

.work {
  padding-bottom: 100px;
}

.work-position {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.work-subtitle {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
}

.work-title {
  margin-bottom: 109px;
}

.work-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 70px;
  row-gap: 105px;
}

.work-item {
  flex-basis: 275px;
}

.work-item-title {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}

.work-item-text {
  color: #fff;
  line-height: 22px;
}

.who {
  padding-bottom: 80px;
}

.who-subtitle {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 17px;
}

.who-title {
  text-align: center;
  margin-bottom: 85px;
}

.who-text {
  text-align: center;
  margin-bottom: 27px;
}

.who-list {
  display: flex;
}

.who-item + .who-item {
  margin-left: 30px;
}

.who-img {
  margin-bottom: 30px;
}

.who-item-name {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-bottom: 11px;
}

.who-item-job-name {
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  text-align: center;
}

footer {
  padding-bottom: 10px;
}

.footer-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  width: 100%;
}

.footer-text-span {
  color: var(--accent-color);
}

.footer-form {
  text-align: right;
  width: 100%;
}

.footer-input {
  width: 230px;
  height: 39px;
}

.footer-btn {
  background-color: var(--info-color);
  height: 40px;
  width: 150px;
  font-size: medium;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border: none;
}

.work-item-text,
.who-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--main-color);
  font-size: 15px;
}
