:root {
  --accent-color: #f38181;
  --info-color: #95e1d3;
  --main-color: #b6b6b6;
}

.mogo {
  color: var(--info-color);
  font-size: 24px;
}

a[href^="./index"] {
  text-decoration: underline;
  color: var(--accent-color);
}

a:not(.about) {
  color: var(--info-color);
  text-decoration: none;
}
.navigation {
  list-style-type: none;
  display: flex;
}

.work {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.services {
  text-align: center;
}

footer p span {
  color: var(--accent-color);
}

.photography {
  display: flex;
  flex-wrap: wrap;
}

.photography1 {
  width: 480px;
}

li:not(.photography1) {
  width: 480px;
}

.lorem {
  color: var(--text-color);
}

.people {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.peopleli {
  width: 300px;
}

.peopleli p {
  color: var(--text-color);
}

form input {
  width: 230px;
  height: 39px;
}

form button {
  background-color: var(--info-color);
  height: 40px;
  width: 150px;
  font-size: medium;
}

.who {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.meet {
  text-align: center;
}

.lorem1 {
  text-align: center;
  color: var(--text-color);
}
